<form action="/contract" method="POST">
    <h1>Cadastro de contrato</h1>
    <p>Nr_Contract:</p>
    <input type="text" name="Nr_Contract">
    <p>Currency:</p>
    <textarea name="Currency"></textarea>
    <p>fk_Modal_ID:</p>
    <textarea name="fk_Modal_ID"></textarea>
    <p>fk_CompanyRegister_ID:</p>
    <textarea name="fk_CompanyRegister_ID"></textarea>
    <button type="submit">Castrar Contrato</button>
</form>