<form action="/company" method="POST">
    <p>CompanyName:</p>
    <input type="text" name="CompanyName">
    <p>Country:</p>
    <textarea name="Country"></textarea>
    <p>ContactName:</p>
    <textarea name="ContactName"></textarea>
    <button type="submit">Castrar Fornecedor</button>
</form>