<h1>Cadastro de Insumo</h1>
<div class="card">
    <div class="card-body">
    <form action="/item" method="POST">
        <label for="ContractNumb">ContractNumb: </label>
            <input type="text" name="fk_ContractNumb" placeholder="Numero do Contrato" class="form-control">

        <label for="partNumber">Part. Number: </label>
            <input type="text" name="partNumber" class="form-control">

        <label for="LocalName">LocalName: </label>
            <input type="text" name="Description_Pt" class="form-control">

        <label for="PurchasePercent">PurchasePercent: </label>
            <input type="text" name="PurchasePercent" class="form-control">

        <label for="unitPrice">Unit Price: </label>
            <input type="text" name="unitPrice" class="form-control">

        <label for="UnitType">Unit Type: </label>
            <input type="text" name="UnitType" class="form-control">

        <label for="MinQtt">Min. Qtt.: </label>
            <input type="text" name="MinQtt" class="form-control">

        <h2>As informações abaixo não são obrigatorias</h2>

        <label for="fk_CmdtyType_id">CmdtyType_id: </label>
            <input type="text" name="fk_CmdtyType_id" class="form-control">

        <label for="Division">Division: </label>
            <input type="text" name="Division" class="form-control">

        <label for="Description_Eng">Descriptio (eng): </label>
            <input type="text" name="Description_Eng" class="form-control">

        <label for="Marker">Marker: </label>
            <input type="text" name="Marker" class="form-control">

        <label for="MarkerCode">MarkerCode: </label>
            <input type="text" name="MarkerCode" class="form-control">

        <label for="LocalUnitType">Local Unit Type: </label>
            <input type="text" name="LocalUnitType" class="form-control">

        <label for="PhaseIn">Phase In: </label>
            <input type="text" name="PhaseIn" class="form-control">

        <label for="PhaseOut">Phase Out: </label>
            <input type="text" name="PhaPhaseOutseIn" class="form-control">

        <button type="submit" class="btn btn-success">Castrar Fornecedor</button>
    </form>
    </div>
</div>