<form action="/item" method="POST">
    <h1>Cadastro de Insumo</h1>
    <p>fk_ContractNumb:</p>
    <input type="text" name="fk_ContractNumb">
    <p>partNumber:</p>
    <input type="text" name="partNumber">
    <p>Description_Pt:</p>
    <textarea name="Description_Pt"></textarea>
    <p>PurchasePercent:</p>
    <textarea name="PurchasePercent"></textarea>
    <p>unitPrice:</p>
    <textarea name="unitPrice"></textarea>
    <p>UnitType:</p>
    <textarea name="UnitType"></textarea>
    <p>MinQtt:</p>
    <textarea name="MinQtt"></textarea>
    <h2>As informações abaixo não são obrigatorias</h2>
    <p>fk_CmdtyType_id:</p>
    <textarea name="fk_CmdtyType_id"></textarea>
    <p>Division:</p>
    <textarea name="Division"></textarea>
    <p>Description_Eng:</p>
    <textarea name="Description_Eng"></textarea>
    <p>Marker:</p>
    <textarea name="Marker"></textarea>
    <p>MarkerCode:</p>
    <textarea name="MarkerCode"></textarea>
    <p>LocalUnitType:</p>
    <textarea name="LocalUnitType"></textarea>
    <p>PhaseIn:</p>
    <textarea name="PhaseIn"></textarea>
    <p>PhaseOut:</p>
    <textarea name="PhaseOut"></textarea>



    <button type="submit">Castrar Fornecedor</button>
</form>