<form action="/itemType" method="POST">
    <h1>Castro de tipagem de insumo</h1>
    <p>typeName:</p>
    <input type="text" name="typeName">
    <button type="submit">Castrar Tipagem de Insumo</button>
</form>

